* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, Arial, sans-serif;
    background-color: #d6d6d6;
    color: #4e4c4c;
    font-size: 18px;
}

/* Header */
header {
    background-color: #661e2a;
    color: rgb(222 222 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px 20px 0;
}

header h1 {
    font-weight: lighter;
    font-size: 45px;
    background-color: rgb(222 222 222);
    padding: 5px 10px 5px 30px;
    margin-left: 0;
    
    color: #4e4c4c;
}

/* Navigation bar */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    
}

header nav ul li {
    list-style: none;
    font-size: 24px;
    padding-left: 20px;
    font-weight: lighter;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(222 222 222);
    border-bottom: 3px solid rgb(222 222 222);
    padding: 0 2px;
}

header nav ul li a:hover {
    text-shadow: 0 0 7px rgb(222 222 222);
}

/* Banner image */
.hero {
    height: 225px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Subtitle */
.subtitle {
    background-color: rgb(222 222 222);
    position: absolute;
    right: 0;
    bottom: 10px;
    display: inline;
}

.subtitle h2 {
    font-weight: lighter;
    font-size: 40px;
    padding: 5px 30px;
    text-align: center;
}

/* Sections */
.content {
    display: flex;
    justify-content: space-between;
    margin: 20px 35px;
}

.section-title {
    flex: 0 25%;
    border-right: 3px solid;
    border-color: #661e2a;
    font-size: 40px;
    text-align: right;
    padding: 10px 20px;
    font-weight: 400;
}

/* about me section */ 
.bio {
    flex: 0 70%;
    margin: 0 20px 20px 40px;
    line-height: 1.5;
    font-weight: lighter;
}

/* Work section */
.work-section {
    flex: 1 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 20px;
    justify-content: space-between;
}

.application {
    width: 49%;
    height: 200px;
    border: 4px solid #283d3b;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.work-section img {
    width: 100%;
    height: auto;
    opacity: .5;
}

.work-section img:hover {
    opacity: 95%;
}

.main-image {
    width: 100%;
    height: 300px;
}

/* Image titles */
.image-info {
    background-color: #283d3b;
    color: white;
    display: inline-block;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 15px;
    font-weight: lighter;
}


.image-info h4 {
    font-size: 25px; 
    font-weight: lighter;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

/* Contact section */
footer {
    flex: 0 70%;
    margin: 0 20px 0 40px;
    display: flex;
    align-items: center;
}

.contact-info {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 24px;
    
}

.contact-info li {
    padding: 10px 15px;
    
}

.contact-info a {
    text-decoration: none;
    color: #4e4c4c;
}

/* Media Query */

@media screen and (max-width: 980px) {
    header nav {
        margin-top: 10px;
    }

    .application {
        height: 160px;
    }

    .main-image {
        height: 230px;
    }

    #contact {
        flex-wrap: wrap;
        border-top: 3px solid;
    }

    #contact .section-title {
        flex: 100%;
        border-right: none;
        text-align: center;
    }

    footer {
        flex: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    header nav {
        flex: 100%;
        justify-content: center;
    }

    header nav ul {
        justify-content: center;
    }

    .hero {
        height: 180px;
    }

    .content {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .section-title {
        flex: 100%;
        text-align: center;
    }

    #about-me .section-title {
        border-right: none;
        border-bottom: 4px solid #661e2a;
        margin-bottom: 10px;
    }

    #work .section-title {
        border-right: none;
        border-top: 2px dashed;
    }

    .bio {
        margin: 0 20px;
        flex: 0 80%;
    }

    .work-section {
        margin: 10px 20px 0 20px;
    }

    footer {
        margin: 0 20px;
    }

    footer ul li {
        flex: 0 49%;
        
    }
}

@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding-left: 35px;
    }
    header h1 {
        text-align: center;
        padding: 5px 10px;
        border-radius: 20px;
    }
    
    header nav ul li {
        margin-top: 10px;
        padding: 0 10px;
    }
    
    .bio {
        flex: 95%;
    }

    #work {
        margin-right: 0;
        margin-left: 0;
    }

    .application {
        height: 110px;
    }

    .main-image {
        height: 150px;
    }

    .image-info {
        font-size: 10px;
        bottom: 6px;
    }

    .image-info h4 {
        font-size: 16px;
    }

    footer ul li {
        flex: 100%;
    }
}